@font-face {
    font-family: montserrat-regular;
    src: url('../fonts/montserrat/montserrat-regular.ttf');
}

@font-face {
    font-family: montserrat-light;
    src: url('../fonts/montserrat/montserrat-light.ttf');
}

@font-face {
    font-family: raleway-regular;
    src: url('../fonts/raleway/raleway-regular.ttf');
}

@font-face {
    font-family: raleway-medium;
    src: url('../fonts/raleway/raleway-medium.ttf');
}

@font-face {
    font-family: raleway-semi-bold;
    src: url('../fonts/raleway/raleway-bold.ttf');
}

@font-face {
    font-family: raleway-bold;
    src: url('../fonts/raleway/raleway-semibold.ttf');
}

@font-face {
    font-family: roboto-regular;
    src: url('../fonts/roboto/roboto-regular.ttf');
}

@color-header: #ffffff;
@color-hover: #c7b299;
@color-buttons-text: #ffffff;
@color-buttons-bg: #998675;
@color-slider: grey;
@color-content-span: #555555;
@color-content-p: #8c8c8c;
@color-light-bg: #fbfaf8;
@color-dark-bg: #362f2d;
@color-block-span: #c7b299;
@color-block-p: #d1d1d1;
@color-bg-time: #363636;
@color-arrows-slider: #d1d1d1;
@color-footer-bg: #191919;
@color-footer-text: #363636;
@color-footer-text-p: #555555;
@color-footer-link: #00bff3;
///////////////////////////////////////////////
.main-font-style(@color,
@family,
@size) {
    color: @color;
    font-family: @family;
    font-size: @size;
}

.transform-transition(@transform,
@transition) {
    -webkit-transform: scale(@transform);
    -moz-transform: scale(@transform);
    -o-transform: scale(@transform);
    -moz-transition: all @transition ease-out;
    -o-transition: all @transition ease-out;
    -webkit-transition: all @transition ease-out;
}

@keyframes effect_dylan {
    50% {
        transform: scale(1.5, 1.5);
        opacity: 0;
    }
    90% {
        transform: scale(0.001, 0.001);
        opacity: 0;
    }
    100% {
        transform: scale(0.001, 0.001);
        opacity: 1;
    }
}

/////////////////////////////////////////////////////
.container {
    margin: 0 auto;
    width: 1920px;
    outline: 1px solid grey;
}

.main-header {
    width: 100%;
    background-image: url('../img/photo.jpg');
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.main-header-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-header-logo {
    margin: 45px 0 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    height: 50px;
    text-decoration: none;
    .logo-svg {
        fill: #fff;
    }
    .logo-txt {
        .main-font-style(@color-header,
        raleway-regular,
        34px);
        letter-spacing: -1.36px;
    }
    &:hover .logo-svg {
        fill: @color-header;
        stroke: @color-hover;
        .transform-transition(1,
        0.3s);
    }
    &:hover .logo-txt {
        color: @color-hover;
        .transform-transition(1,
        0.3s);
    }
}

.main-header-menu {
    list-style-type: none;
    display: flex;
    height: 40px;
    margin: 62px 0 0 210px;
    a {
        display: block;
        margin: 0 15px 0 15px;
        text-decoration: none;
        .main-font-style(@color-header,
        montserrat-light,
        14px);
        &:hover {
            color: @color-hover;
            .transform-transition(1,
            0.2s);
        }
    }
}

.main-header-search {
    margin: 56px 0 0 70px;
    display: flex;
    height: 40px;
    svg {
        fill: @color-header;
        &:hover {
            fill: @color-hover;
            .transform-transition(1,
            0.2s);
        }
    }
    a:last-child {
        margin-left: 25px;
    }
}

.main-header-slider {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-header-slider .arrow-next,
.main-header-slider .arrow-prev {
    width: 100px;
    margin: 250px 0 0 0;
    background: transparent;
    outline: none;
    border: none;
    svg {
        fill: @color-header;
    }
    &:hover {
        .transform-transition(1.15,
        0.5s);
    }
    &:active svg {
        fill: @color-hover;
    }
}

.main-header-slider .slider-info {
    margin: 275px 25% 0 25%;
    h3 {
        margin: 0;
        text-align: center;
        .main-font-style(@color-header,
        raleway-medium,
        36px);
    }
    h2 {
        margin: 14px 0 0 0;
        text-align: center;
        .main-font-style(@color-header,
        raleway-semi-bold,
        52px);
    }
    p {
        width: 570px;
        height: 39px;
        text-align: center;
        .main-font-style(@color-header,
        montserrat-light,
        16px);
        line-height: 24px;
    }
    button {
        margin: 55px 196px;
        color: @color-buttons-text;
        font-family: raleway-regular;
        font-size: 14px;
        line-height: 23px;
        text-transform: uppercase;
        width: 170px;
        height: 50px;
        box-shadow: inset 0 -3px 0 darken(@color-buttons-bg, 20%);
        border-radius: 3px;
        border: none;
        outline: none;
        background-color: @color-buttons-bg;
        &:hover {
            background-color: darken(@color-buttons-bg, 15%);
            box-shadow: inset 0 -3px 0 @color-buttons-bg;
            .transform-transition(1,
            0.3s);
        }
        &:active {
            color: @color-hover;
        }
    }
}

.main-header-slider-point {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 235px 0 40px 0;
    span {
        margin: 7px;
        display: block;
        height: 11px;
        width: 11px;
        background-color: @color-slider;
        border-radius: 50%;
        float: left;
        border: 1px solid transparent;
        &:hover {
            border: 1px solid white;
            .transform-transition(1.3,
            0.3s);
        }
    }
}

.main-content-section-services {
    display: flex;
    justify-content: center;
    margin: 60px 0 80px 0;
    article {
        display: block;
        margin: 0 17px;
        width: 320px;
        position: relative;
        .icon-services {
            text-align: center;
            margin: 0 0 20px 0;
            svg {
                fill: @color-content-span;
            }
        }
        span {
            display: block;
            .main-font-style(@color-content-span,
            raleway-semi-bold,
            22px);
            text-align: center;
            position: relative;
        }
        p {
            width: 310px;
            height: 62px;
            .main-font-style(@color-content-p ,
            montserrat-light,
            14px);
            line-height: 24px;
            text-align: center;
        }
    }
}

.main-content-section-services article {
    &:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 70px;
        margin-top: 40px;
        height: 3px;
        background: @color-content-span;
    }
    &:hover span {
        color: @color-hover;
        .transform-transition(1,
        0.4s);
    }
    &:hover:after {
        background: @color-hover;
        .transform-transition(1,
        0.4s);
    }
    &:hover svg {
        fill: @color-hover;
        .transform-transition(1,
        0.4s);
    }
}

.main-content-section-realization {
    background-color: @color-light-bg;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        margin-top: 83px;
        display: block;
        width: 100%;
        .main-font-style(@color-content-span,
        raleway-semi-bold,
        30px);
        text-align: center;
    }
    p {
        width: 760px;
        text-align: center;
        .main-font-style( @color-content-p,
        montserrat-light,
        16px);
        line-height: 28px;
    }
}

.main-content-section-realization .position-screen {
    position: relative;
    min-height: 483px;
    margin: 20px 0 0 0;
    & img:nth-child(1) {
        z-index: 0;
        top: 82px;
        right: -160px;
        position: absolute;
    }
    & img:nth-child(2) {
        z-index: 2;
        left: -380px;
        top: 0px;
        position: absolute;
    }
    & img:nth-child(3) {
        z-index: 0;
        top: 82px;
        left: -150px;
        position: absolute;
    }
}

.main-content-section-purchasenow {
    width: 100%;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
        margin: 0;
        .main-font-style( @color-header,
        raleway-regular,
        28px);
        span {
            color: @color-hover;
        }
    }
    p {
        margin: 0;
        .main-font-style(@color-content-p,
        montserrat-light,
        18px);
    }
    button {
        margin: 0 0 0 420px;
        color: @color-buttons-text;
        font-family: raleway-regular;
        font-size: 14px;
        line-height: 23px;
        text-transform: uppercase;
        width: 170px;
        height: 50px;
        box-shadow: inset 0 -3px 0 darken(@color-buttons-bg, 20%);
        border-radius: 3px;
        border: none;
        outline: none;
        background-color: @color-buttons-bg;
        &:hover {
            background-color: darken(@color-buttons-bg, 15%);
            box-shadow: inset 0 -3px 0 @color-buttons-bg;
            .transform-transition(1,
            0.3s);
        }
        &:active {
            color: @color-hover;
        }
    }
}

.main-content-section-latestprojects {
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        margin: 80px 0 0 0;
        .main-font-style(@color-content-span,
        raleway-semi-bold,
        30px);
    }
    .latestprojects-main-p {
        margin: 24px 0 0 0;
        text-align: center;
        width: 770px;
        .main-font-style(@color-content-p,
        montserrat-light,
        16px);
        line-height: 28px;
    }
    .list-buttons {
        margin: 50px 0 0 0;
        button {
            display: inline-block;
            .main-font-style(@color-content-p,
            montserrat-light,
            14px);
            padding: 10px 25px;
            height: 36px;
            border-radius: 3px;
            border: 2px solid lighten(grey, 40%);
            background-color: @color-buttons-text;
            outline: none;
            &:hover {
                color: @color-buttons-text;
                background-color: @color-buttons-bg;
                .transform-transition(1,
                0.4s);
            }
            &:active {
                color: @color-hover;
            }
        }
    }
    .latestprojects-loadmore {
        margin: 10px 0 80px 0;
        color: @color-buttons-text;
        font-family: raleway-regular;
        font-size: 14px;
        line-height: 23px;
        text-transform: uppercase;
        width: 170px;
        height: 50px;
        box-shadow: inset 0 -3px 0 darken(@color-buttons-bg, 20%);
        border-radius: 3px;
        border: none;
        outline: none;
        background-color: @color-buttons-bg;
        &:hover {
            background-color: darken(@color-buttons-bg, 15%);
            box-shadow: inset 0 -3px 0 @color-buttons-bg;
            .transform-transition(1,
            0.3s);
        }
        &:active {
            color: @color-hover;
        }
    }
}

.main-content-section-latestprojects .latestprojects-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 40px 0 0 0;
    article {
        background-color: @color-light-bg;
        margin: 0 0 30px 0;
        .item-inner {
            overflow: hidden;
            width: 370px;
            height: 237px;
            position: relative;
            .overlay-icons {
                text-align: center;
                display: none;
                position: absolute;
                height: 30px;
                width: 100%;
                top: 110px;
                .icon {
                    margin: 5px;
                    svg {
                        fill: @color-header;
                    }
                }
            }
        }
        .item-outer {
            position: relative;
            h2 {
                margin: 30px 0 0 30px;
                .main-font-style(@color-block-span,
                raleway-medium,
                20px);
            }
            p {
                margin: 15px 0 30px 30px;
                .main-font-style(@color-block-p,
                montserrat-light,
                14px);
                line-height: 20px;
            }
        }
        .item-outer:before {
            content: '';
            position: absolute;
            left: 25px;
            bottom: 87px;
            border: 20px solid transparent;
            border-bottom: 15px solid @color-light-bg;
        }
    }
}

.main-content-section-latestprojects .latestprojects-blocks article {
    &:hover img {
        .transform-transition(1.2,
        0.6s);
    }
    &:hover {
        position: relative;
        background-color: @color-dark-bg;
        .transform-transition(1,
        0.6s);
    }
    &:hover .overlay-icons {
        display: block;
        z-index: 2;
    }
    .item-inner .overlay-icons .icon:hover svg {
        fill: @color-hover;
        .transform-transition(1,
        0.3s);
    }
    &:hover .item-outer:before {
        border-bottom: 15px solid lighten(@color-dark-bg, 29%);
    }
    &:hover:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 237px;
        background-color: black;
        opacity: 0.6;
        z-index: 1;
    }
    &:hover h2 {
        .transform-transition(1,
        0.3s);
        color: @color-header;
    }
    &:hover p {
        .transform-transition(1,
        0.3s);
        color: @color-hover;
    }
}

.main-content-section-video {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.4;
        z-index: 1;
    }
    .video-play-btn {
        padding: 10px;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        border: none;
        outline: none;
        position: absolute;
        z-index: 5;
        background: rgba(0, 0, 0, 0.3);
        top: 30%;
        left: 47%;
        svg {
            fill: @color-header;
        }
        &:active svg {
            fill: @color-hover;
        }
        &:before {
            content: '';
            background-color: aliceblue;
            border-radius: 50%;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: scale(0.001, 0.001);
        }
        &:hover {
            outline: 0;
            color: #fff;
            &:before {
                animation: effect_dylan 1s ease-out;
            }
        }
    }
    .video-play-hide {
        display: none;
    }
    .video-text {
        position: absolute;
        z-index: 5;
        top: 45%;
        left: 35%;
        h2 {
            text-align: center;
            .main-font-style(@color-header,
            raleway-regular,
            30px);
        }
        p {
            width: 570px;
            height: 43px;
            text-align: center;
            .main-font-style(@color-header,
            montserrat-light,
            16px);
            line-height: 28px;
        }
        .time {
            margin: 40px 0 0 0;
            display: block;
            text-align: center;
            .main-font-style(@color-hover,
            montserrat-regular,
            14px);
            line-height: 24px;
        }
    }
}

.main-content-section-excellentmobile {
    display: flex;
    justify-content: center;
    width: 100%;
    img {
        margin: 80px 0 0 0;
    }
    article {
        margin: 195px 0 0 0;
    }
    span {
        .main-font-style(@color-content-span,
        raleway-medium,
        30px);
    }
    p {
        width: 670px;
        height: 99px;
        .main-font-style(@color-content-p,
        montserrat-light,
        16px);
        line-height: 28px;
    }
    ul {
        margin: 45px 0 0 50px;
        list-style-type: none;
        li {
            position: relative;
            margin: 10px;
            .main-font-style(@color-content-p,
            montserrat-light,
            16px);
            &:before {
                position: absolute;
                content: "";
                height: 21px;
                width: 21px;
                background-image: url('../img/arrow.svg');
                background-repeat: no-repeat;
                background-size: contain;
                left: -40px;
            }
        }
    }
}

.main-content-section-counters {
    width: 100%;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .counter {
        margin: 140px 40px 90px 40px;
        width: 160px;
        height: 100px;
        &:after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 30px;
            margin-top: 40px;
            height: 3px;
            background: @color-header;
        }
        span {
            position: relative;
            text-align: center;
            display: block;
            .main-font-style(@color-header,
            montserrat-light,
            48px);
            line-height: 36px;
            &:before {
                top: -70px;
                left: 56px;
                position: absolute;
                content: "";
                display: block;
                margin: 0 auto;
                width: 50px;
                height: 50px;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        p {
            text-align: center;
            line-height: 20px;
            text-transform: uppercase;
            .main-font-style(@color-hover,
            montserrat-light,
            14px);
        }
    }
}

.main-content-section-counters .counter {
    &:nth-child(1) span:before {
        background-image: url(../img/clients.svg);
    }
    &:nth-child(2) span:before {
        background-image: url(../img/coffee.svg);
    }
    &:nth-child(3) span:before {
        background-image: url(../img/posts.svg);
    }
    &:nth-child(4) span:before {
        background-image: url(../img/likes.svg);
    }
    &:nth-child(5) span:before {
        background-image: url(../img/launch.svg);
    }
}

.main-content-section-recentsposts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    h1 {
        margin: 80px 0 0 0;
        width: 100%;
        text-align: center;
        .main-font-style(@color-content-span,
        raleway-semi-bold,
        30px);
    }
    .recentsposts-main-p {
        text-align: center;
        width: 757px;
        height: 43px;
        .main-font-style(@color-content-p,
        montserrat-light,
        16px);
        line-height: 28px;
    }
    .slider-arrows > {
        margin: 0 0 80px 0;
        fill: @color-arrows-slider;
        .left-arrow:hover,
        .right-arrow:hover {
            fill: @color-hover;
            .transform-transition(1,
            0.3s);
        }
    }
}

.main-content-section-recentsposts .recentsposts-posts {
    display: flex;
    article {
        margin: 30px 15px;
        background-color: @color-light-bg;
        .item-inner {
            width: 370px;
            height: 220px;
            position: relative;
            .overlay-icons {
                position: absolute;
                top: 20px;
                width: 50px;
                left: 20px;
                .date {
                    text-align: center;
                    padding-top: 5px;
                    box-sizing: border-box;
                    display: block;
                    width: 50px;
                    height: 35px;
                    background-color: @color-bg-time;
                    .main-font-style(@color-header,
                    montserrat-light,
                    24px);
                    border-radius: 5px 5px 0 0;
                }
                .month {
                    display: block;
                    width: 50px;
                    height: 25px;
                    background-color: darken(@color-bg-time, 8%);
                    .main-font-style(@color-header,
                    roboto-regular,
                    12px);
                    border-radius: 0 0 5px 5px;
                    line-height: 20px;
                    text-align: center;
                }
            }
        }
        .item-outer {
            h2 {
                margin: 35px 0 0 30px;
                .main-font-style(@color-content-span,
                raleway-medium,
                20px);
            }
            p {
                margin: 20px 0 0 30px;
                width: 310px;
                height: 36px;
                .main-font-style(@color-content-p,
                montserrat-light,
                14px);
                line-height: 22px;
            }
            a {
                width: 140px;
                position: relative;
                text-decoration: none;
                padding: 27px;
                box-sizing: border-box;
                display: block;
                .main-font-style(@color-block-span,
                montserrat-light,
                14px);
                &:after {
                    content: '';
                    position: absolute;
                    left: 110px;
                    top: 31px;
                    border: 4px solid transparent;
                    border-left: 4px solid @color-block-span;
                }
            }
        }
    }
}

.main-content-section-recentsposts .recentsposts-posts article {
    &:hover {
        position: relative;
        background-color: @color-dark-bg;
        .transform-transition(1,
        0.6s);
    }
    &:hover:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 237px;
        background-color: black;
        opacity: 0.6;
        z-index: 1;
    }
    &:hover .overlay-icons {
        position: absolute;
        z-index: 3;
    }
    &:hover .overlay-icons .date {
        background-color: @color-hover;
        .transform-transition(1,
        0.3s);
    }
    &:hover .overlay-icons .month {
        background-color: darken(@color-hover, 10%);
        .transform-transition(1,
        0.3s);
    }
    &:hover h2 {
        color: @color-hover;
        .transform-transition(1,
        0.3s);
    }
    &:hover p {
        color: @color-header;
        .transform-transition(1,
        0.3s);
    }
}

.main-content-section-partners {
    width: 100%;
    background-image: url('../img/Background-partners.jpg');
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 130px;
    box-sizing: border-box;
    img {
        display: flex;
        margin: auto 40px;
    }
}

.main-footer-widgets {
    width: 100%;
    background-color: @color-footer-bg;
    display: flex;
    justify-content: center;
    article {
        margin: 80px 20px;
        width: 270px;
    }
}

.main-footer-widgets .about-waxom {
    .main-footer-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 181px;
        height: 50px;
        text-decoration: none;
        .logo-svg {
            fill: #fff;
        }
        .logo-txt {
            .main-font-style(@color-header,
            raleway-regular,
            34px);
            letter-spacing: -1.36px;
        }
        &:hover .logo-svg {
            fill: @color-header;
            stroke: @color-hover;
            .transform-transition(1,
            0.3s);
        }
        &:hover .logo-txt {
            color: @color-hover;
            .transform-transition(1,
            0.3s);
        }
    }
    .waxom-main-p {
        margin-top: 20px;
        width: 258px;
        height: 155px;
        p {
            .main-font-style(@color-content-span,
            montserrat-light,
            14px);
            line-height: 24px;
        }
    }
    .readmore-a {
        width: 130px;
        position: relative;
        text-decoration: none;
        margin: 30px 0 0 0;
        display: block;
        .main-font-style(@color-header,
        montserrat-light,
        14px);
        &:after {
            content: '';
            position: absolute;
            left: 90px;
            top: 5px;
            border: 4px solid transparent;
            border-left: 4px solid @color-header;
        }
    }
}

.main-footer-widgets .recent-posts {
    span {
        display: block;
        margin: 15px 0 0 0;
        .main-font-style(@color-header,
        raleway-bold,
        24px);
    }
    .post {
        border-bottom: 1px solid @color-footer-text;
        h6 {
            margin: 20px 0 0 0;
            .main-font-style(@color-footer-text,
            montserrat-light,
            14px);
        }
        p {
            margin: 10px 0 20px 0;
            .main-font-style( @color-footer-text-p,
            montserrat-light,
            14px);
            line-height: 20px;
        }
        &:hover h6 {
            .transform-transition(1,
            0.3s);
            color: @color-header;
        }
        &:hover p {
            .transform-transition(1,
            0.3s);
            color: @color-hover;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}

.main-footer-widgets .our-twitter {
    span {
        display: block;
        margin: 15px 0 0 0;
        .main-font-style(@color-header,
        raleway-bold,
        24px);
    }
    .tweet {
        border-bottom: 1px solid @color-footer-text;
        h6 {
            margin: 10px 0 20px 0;
            .main-font-style(@color-footer-text,
            montserrat-light,
            14px);
        }
        p {
            a {
                text-decoration: none;
                color: @color-footer-link;
            }
            margin: 20px 0 0 0;
            .main-font-style( @color-footer-text-p,
            montserrat-light,
            14px);
            line-height: 20px;
        }
        &:hover h6 {
            .transform-transition(1,
            0.3s);
            color: @color-header;
        }
        &:hover p {
            .transform-transition(1,
            0.3s);
            color: @color-hover;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}

.main-footer-widgets .dribbble-widget {
    width: 280px;
    span {
        display: block;
        margin: 15px 0 30px 0;
        .main-font-style(@color-header,
        raleway-bold,
        24px);
    }
    img {
        margin: 3px;
    }
}

.main-footer-copyright {
    display: flex;
    width: 100%;
    background-color: #111111;
    justify-content: center;
    .links {
        margin: 50px 150px;
        display: flex;
        justify-content: space-between;
        h6 {
            margin: 0px;
            .main-font-style(@color-content-span,
            montserrat-light,
            13px);
            border-right: 1px solid @color-footer-text;
            padding: 0 10px;
            span {
                color: darken(@color-header, 30%);
            }
        }
        a {
            display: block;
            text-decoration: none;
            .main-font-style(@color-content-span,
            montserrat-light,
            13px);
            border-right: 1px solid @color-footer-text;
            padding: 0 10px;
            &:hover {
                color: @color-hover;
                .transform-transition(1,
                0.3s);
            }
            &:last-child {
                border-right: none;
            }
        }
    }
    .design {
        margin: 50px 150px;
        display: flex;
        h6 {
            border-right: 1px solid @color-footer-text;
            padding: 0 10px;
            margin: 0;
            .main-font-style( @color-footer-text-p,
            montserrat-light,
            14px);
            span {
                color: darken(@color-header, 30%);
            }
            &:last-child {
                border-right: none;
            }
        }
    }
}